/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  margin-top: 0px;
}
.sidebar{
  margin-top: -15px;
  padding-top: 0px;
}
#Brand{
  font-size: 1.7em;
  margin-left: -7px;
}
.subNav {
  font-size: 1.4em;
}

.navbar-right{
  margin-right: -30px;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #ff6600;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border-bottom: 10px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #ff6600;
}


/*
 * Main content
 */

.mainNav {
  background-color: #ff6600;
}

#Brand {
  color: #2b3e50;
}

#Brand:hover {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #2b3e50;
}

a {
  color: #ff6600;
  font-size: 18px;
}

a:hover {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #2b3e50;
}

.btn-lion {
  color: #fff;
  background-color: #ff6600;
  border-color: #ff6600;
}

.btn-lion:hover {
  color: #fff;
}

.main {
  margin-top: 50px;
  padding: 20px;
  position: relative;
  background-color: #2b3e50;
  height: 100%;
  color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header{
  margin-top: 0;
}

.loading{
  background: url('./spiffygif_52x52.gif');
  background-repeat: none;
  width: 52px;
  height: 52px;
  margin:0 auto;
}
.error{
  color: red;
  font-size: 1.5em;
}

.welcome{
  font-size: 1.5em;

}

.welcomeList{
  list-style-type: none;
}

.ribbon {
  background-color: black;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -50px;
  top: 40px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 3px solid white;
  font-size: 1.5em;
  color: white;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 13px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}
.ribbon:hover{
  background-color: #FF6600;
}