<body ng-controller="searchCtrl">
	<form class="form-inline" role="form" ng-submit='searchUserName(userName)'>
	  <input type="text" ng-model="userName" class="userName form-control col-sm-3 col-md-2" placeholder="Enter User Name">
	  <button type="submit" class="search btn btn-primary">Search</button>
	</form><br>
	<div class="loading" ng-show="loading"></div>
	<div class="error" ng-show="error">Sorry the username you entered is not a valid Hacker News user</div>
	<ol> 

	<li ng-repeat="story in storiesArray.data" ng-show='good'>
		<div>Story Title: "{{ story.title }}"</div>
		<div>Story Author: {{ story.by }}</div>
		<div>Story Score: {{ story.score }}</div>
		<a href="{{ story.url }}">Go to this Story</a>
		<hr/>
	</li>
	</ol>
</body>
