	<h1 class="page-header">Top Stories</h1>
	<p>
		If you search for a specific Hacker News username, the results will reveal their top stories.
	</p>
	<form class="form-inline" role="form" ng-submit='searchUserName(userName)'>
	  <input type="text" ng-model="userName" class="userName form-control col-sm-3 col-md-2" placeholder="Enter User Name">
	  <button type="button" class="search btn btn-lion" ng-click='searchUserName(userName)'>Search</button>
	</form><br>
	<ol> 

	<li ng-repeat="story in storiesArray.data">
		<div>Story Title: "{{ story.title }}"</div>
		<div>Story Author: {{ story.by }}</div>
		<div>Story Score: {{ story.score }}</div>
		<a href="{{ story.url }}">Go to this Story</a>
		<hr/>
	</li>
	</ol>