<body ng-controller="searchCtrl">
	<form class="form-inline" role="form" ng-submit='searchUserName(userName)'>
	  <input type="text" ng-model="userName" class="userName form-control col-sm-3 col-md-2" placeholder="Enter User Name">
	  <button type="button" class="search btn btn-primary">Search</button>
	</form>
<!-- 	<h2>Top Stories By User: {{ $scope.userName }}</h2> -->
	<ol> 
	<li ng-repeat="story in storiesArray.data">
		{{ story }}
	</li>
	</ol>
</body>



 <!-- <body ng-controller="searchCtrl">
	<form ng-submit='searchUserName(userName)'>
	  <input type="text" ng-model="userName"/>
	  <button>Search</button>
	</form>
<h2>Top Stories By User: {{ $scope.userName }}</h2> 
	<ol> 
	<li ng-repeat="story in storiesArray">
		{{ story }}
	</li>
	</ol>
</body>

 -->